{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

{% block content %}
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.date %}
            <p class="post-meta">
                <time datetime="{{ page.date|date:'Y-m-d' }}">{{ page.date }}</time>
            </p>
        {% endif %}
    </header>

    {% if page.featured_image %}
        {% image page.featured_image width-800 as img %}
        <img src="{{ img.url }}" alt="{{ page.title }}" class="featured-image">
    {% endif %}

    <div class="content post-content">
        {% for block in page.body %}
            {% if block.block_type == 'markdown' %}
                <div class="markdown-content">
                    {{ block.value|markdown }}
                </div>
            {% elif block.block_type == 'paragraph' %}
                <div class="rich-text">
                    {{ block.value|richtext }}
                </div>
            {% elif block.block_type == 'heading' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'image' %}
                {% image block.value width-800 as img %}
                <figure>
                    <img src="{{ img.url }}" alt="">
                </figure>
            {% elif block.block_type == 'code' %}
                <pre><code class="language-{{ block.value.language }}">{{ block.value.code }}</code></pre>
            {% elif block.block_type == 'raw_html' %}
                {{ block.value }}
            {% elif block.block_type == 'quote' %}
                <blockquote>{{ block.value }}</blockquote>
            {% endif %}
        {% endfor %}
    </div>
</article>

<nav class="post-nav">
    <a href="{{ page.get_parent.url }}">&larr; Back to posts</a>
</nav>
{% endblock %}
